<!-- Component (Entity): Subfiso -->
<div class="row"> <!-- row -->
	<div class="col-md-12"> <!-- col-md-12 -->
		<form	[ngFormModel]="form"
				class="form-horizontal"
				(submit)="doOnSubmit($event)">
			<div class="row"> <!-- row -->
				<div class="col-md-12"> <!-- col-md-12 -->
					
					<!-- Form Field: Id -->
					<div class="form-group"> <!-- form-group -->
						<label for="Id" class="col-md-2 control-label">ID</label>
						<div class="col-md-10"> <!-- col-md-10 -->
							<input	type="number"
									id="Id"
									class="form-control"
									ngControl="Id"
									#Id="ngForm">
						</div> <!-- col-md-10 -->
					</div> <!-- form-group -->
					
						<!-- Panel Group: panel_01 -->
						<div class="panel panel-default"> <!-- panel -->
							<div class="panel-heading"> <!-- panel-heading -->
								<h3 class="panel-title">Panel 1</h3>
							</div> <!-- panel-heading -->
							<div class="panel-body"> <!-- panel-body -->
								
									<!-- Form Field: fideicomiso -->
									<div class="form-group"> <!-- form-group -->
										<label for="fideicomiso" class="col-md-2 control-label">Fideicomiso</label>
										<div class="col-md-10"> <!-- col-md-10 -->
								<!--
											<div class="input-group">
												<input	type="text"
														id="fideicomiso"
														class="form-control"
														placeholder="Fideicomiso"
														ngControl="fideicomiso"
														#fideicomiso="ngForm">
												<span class="input-group-btn">
													<button class="btn btn-info">...</button>
												</span>
											</div>
								-->
											<SearchFideicomisos></SearchFideicomisos>
											<div *ngIf="fideicomiso.dirty && !fideicomiso.valid && !fideicomiso.pending">
												<div *ngIf="fideicomiso.errors.required" class="alert alert-danger" role="alert">
													<span class="sr-only">Error:</span>
													'Required field.'
												</div>
											</div>
										</div> <!-- col-md-10 -->
									</div> <!-- form-group -->
								
								<!-- Form Field: numero -->
								<div class="form-group"> <!-- form-group -->
									<label for="numero" class="col-md-2 control-label">Número</label>
									<div class="col-md-10"> <!-- col-md-10 -->
										<input	type="number"
												id="numero"
												class="form-control"
												ngControl="numero"
												#numero="ngForm">
									</div> <!-- col-md-10 -->
								</div> <!-- form-group -->
								
								<!-- Form Field: nombre -->
								<div class="form-group"> <!-- form-group -->
									<label for="nombre" class="col-md-2 control-label">Nombre</label>
									<div class="col-md-10"> <!-- col-md-10 -->
										<input	type="text"
												id="nombre"
												class="form-control"
												placeholder="Nombre"
												ngControl="nombre"
												#nombre="ngForm" >
										<div *ngIf="nombre.dirty && !nombre.valid && !nombre.pending">
											<div *ngIf="nombre.errors.required" class="alert alert-danger" role="alert">
												<span class="sr-only">Error:</span>
												'Required field.'
											</div>
										</div>
									</div> <!-- col-md-10 -->
								</div> <!-- form-group -->
							</div> <!-- panel-body -->
						</div> <!-- panel -->
				</div> <!-- col-md-12 -->
			</div> <!-- row -->
			<div class="row"> <!-- row -->
				<div class="col-md-12"> <!-- col-md-12 -->
					<div class="form-group">
						<button type="submit"
								[disabled]="!form.valid"
								class="btn btn-primary"
								id="subfiso_save">
									Save
						</button>
					</div> 
				</div> <!-- col-md-12 -->
			</div> <!-- row -->
		</form>
	</div> <!-- col-md-12 --> 
</div> <!-- row -->
